@charset "utf-8";
.w_950 { width:950px; margin:0 auto;}
.channelNav,.siteBar,.siteBar .siteNav li,.siteBar .siteNav .cart .s,.header .changeCity .changeMenu s,.header .searchBar .searchBarBd,.channelNav li,.rightCast .castVane,.rightCast .castVane s,.rightCast .tab li,.rightCast .tab,.rightCast .bd_1 li,.rightCast .services .hd,.rightCast .services .bd s,.position .s,.pageNavigation .prev a,.pageNavigation .next a,.tab_module .hd .select .s1,.tab_module .hd .select .s2,.tab_module .hd .select,.tab_module .hd,.pop_login .hd .close,.pop_login .bd .sp_b .btn,.pop_login .bd .qq_login { background:url("Images/page/sp_hd.gif"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/sp_hd.gif*/) no-repeat 0 0;}

.siteBar { color:#9a9a9a; height:33px; background-position:0 -36px; background-repeat:repeat-x;}
.siteBar .siteBarBd { position:relative; line-height:33px;}
.siteBar .loginInfo { float:left; line-height:16px; padding:8px 0; font-family:simsun;}
.siteBar .loginInfo a { margin:0 8px;}
.siteBar .loginInfo img { vertical-align:middle;}
.siteBar .siteNav { position:absolute; right:0; top:0;}
.siteBar .siteNav li { float:left; padding:0 10px; background-position:right -202px;}
.siteBar .siteNav .siteTel { background:none; padding-right:0;}
.siteBar .siteNav .siteTel .tel { color:#555;}
.siteBar .siteNav .cart { position:relative; _height:1%; padding-left:22px;}
.siteBar .siteNav .cart em { color:#f30;}
.siteBar .siteNav .cart:hover em { text-decoration:underline;}
.siteBar .siteNav .cart .s { display:block; position:absolute; top:-1px; left:0; width:16px; height:15px; overflow:hidden; background-position:-75px -176px;}
.siteBar a.userName { color:#f50; margin:0;}
.siteBar .message_num { color:#f60;}
.siteBar a.manage { color:#d00;}
.siteBar a:hover .message_num { text-decoration:underline;}
.header { position:relative; height:82px; z-index:21;}
.header .logo { position:absolute; left:0; top:10px;}
.header .changeCity { position:absolute; top:15px; left:265px; height:50px; border-left:1px solid #ddd; padding-left:15px; _margin-top:-2px;}
.header .changeCity .city { font-size:22px; font-family:"微软雅黑","黑体"; line-height:24px;}
.header .changeCity .slogan { color:#9a9a9a; margin-top:3px; vertical-align:top;}
.header .changeCity .changeMenu { vertical-align:middle; margin-left:10px;}
.header .changeCity .changeMenu s { margin-left:3px; vertical-align:middle; display:inline-block; *diaplay:inline; *zoom:1; width:5px; height:3px; background-position:-112px -184px; overflow:hidden;}
.modCity { position:absolute; border:1px solid #e3bf9e; background-color:#fefefe; width:210px; z-index:9999; padding:4px 0; margin-top:-22px;}
.modCity a { display:block; float:left; width:60px; padding-left:10px; font:14px/28px arial;}
.header .searchBar { float:right; margin-top:10px;}
.header .searchBar .s_nav { margin-bottom:2px;}
.header .searchBar .s_nav a { margin-right:10px;}
.header .searchBar .searchBarBd { width:400px; height:38px; background-position:0 -99px; padding:0 0 0 30px;}
.header .searchBar .txt,.header .searchBar .select,.header .searchBar .btn { float:left;}
.header .searchBar .txt .s_txt { vertical-align:middle; border:0 none; background:transparent; font-size:14px; height:20px; line-height:20px; width:220px; margin-top:10px; *margin-top:9px;}
.header .searchBar .select { width:92px; margin-top:10px;}
.header .searchBar .btn .s_btn { width:80px; height:32px; background:transparent; vertical-align:middle; border:0 none; font:0pt/1000px Arial; overflow:hidden; cursor:pointer; margin:3px 0 0 5px;}
.header .searchBar .searchBarBd2 { background-position:0 -294px; padding:0 0 0 10px; width:420px;}
.header .searchBar .searchBarBd2 .txt .s_txt { width:285px;}
.header .searchBar .searchBarBd2 .btn .s_btn { width:43px; margin:3px 0 0 0;}
.channelNav { height:39px; background-repeat:repeat-x; background-position:0 3px; text-align:center;}
.channelNav li { float:left; position:relative; z-index:9; height:26px; width:86px; background-position:right -137px; padding-top:13px; font:14px/16px simsun;}
.channelNav .current { background-position:-25px -137px; font-weight:bold;}
.channelNav .last { background:none;}
.channelNav a { color:#444;}
.channelNav .current a { color:#fff;}
.channelNav .s { position:absolute; top:-10px; right:5px; width:19px; height:23px; display:block; overflow:hidden;}
.channelNav .s_qiang { background:url("Images/page/qiang.gif"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/qiang.gif*/) no-repeat 0 0;}
.channelNav .s_re { background:url("Images/page/re.gif"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/re.gif*/) no-repeat 0 0;}
.channelNav .s_xin { background:url("Images/page/xin.gif"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/xin.gif*/) no-repeat 0 0;}
.channelNav2 { background-image:none; background-color:#b00000; height:35px;}
.channelNav2 li { background-position:right -332px; height:25px; padding-top:10px;}
.channelNav2 a { color:#fff; font-weight:bold;}
.channelNav2 .current { background-image:none; background-color:#820000;}

.channelNav3 { height:40px; background-position:0 -367px;}
.channelNav3 li { background-image:none; border-top:5px solid #d30000; padding:0; width:86px; height:34px; line-height:34px; background:#f8f8f8;}
.channelNav3 a { display:block; border-left:1px solid #ccc;}
.channelNav3 .current { background-color:#fff; height:35px; width:88px;}
.channelNav3 .current a { color:#d30000;}
.channelNav3 .last { border-top:5px solid #333; background:#f8f8f8; width:88px;}
.channelNav3 .last a { border-right:1px solid #ccc;}
.channelNav4 { height:35px; background-position:0 -408px;}
.channelNav4 li { background-position:right -443px; padding:0; line-height:35px; height:35px; font-family:"微软雅黑";}
.channelNav4 .current { background-image:none; background-color:#b80301;}



.footer { text-align:center; margin-top:10px; border-top:1px solid #ddd; padding-top:4px;}
.footer p { margin:8px 0; color:#555;}
.footer .f_nav { color:#aaa;}
.footer .f_nav a { margin:0 10px;}
.footer img { vertical-align:middle;}

/* search select */
.selectbox-wrapper { position:absolute; background-color:#c70401; border:1px solid #aa0301; text-align:left; z-index:9999; width:90px; margin-top:3px; border-top:0 none;}
.selectbox-wrapper ul li.selected {}
.selectbox-wrapper ul li.current { background-color:#fff; color:#555;}
.selectbox-wrapper ul li { display:block; margin:0; padding:3px 0 3px 6px; line-height:20px; cursor:default; width:84px; color:#fff;}
.selectbox { display:block; width:82px; padding-right:12px; text-align:right; height:20px; line-height:20px; color:#888; background:transparent; vertical-align:middle; border:0 none; cursor:default;}
.searchBarBd2 .selectbox-wrapper { border:1px solid #e2e2e2; background-color:#f5f5f5; margin-top:7px;}
.searchBarBd2 .selectbox-wrapper ul li { color:#555;}
.searchBarBd2 .selectbox-wrapper ul li.current { background-color:#ddd;}

/* cast */
.rightCast { position:fixed; _position:absolute; _top:expression((document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + this.offsetHeight - 25 + 'px'); top:240px; right:0; *zoom:1; overflow:hidden; z-index:999;}
.clo { width:25px;}
.rightCast .castVane { width:25px; height:93px; position:absolute; left:0; top:0; background-position:0 -137px; overflow:hidden; cursor:pointer;}
.rightCast .castVane s { display:block; position:absolute; width:11px; height:11px; overflow:hidden; bottom:6px; left:8px; background-position:-101px -179px;}
.rightCast .castVane .open { background-position:-91px -179px;}
.rightCast .castContainer { border:1px solid #bc0500; margin-left:25px; width:242px;}
.rightCast .castContainer .castContainerBd { border:1px solid #9a0400;}
.rightCast .tab { height:29px; background-position:0 -70px;}
.rightCast .tab li { float:left; padding:9px 12px 6px; background-position:right -203px; line-height:14px; text-align:center;}
.rightCast .tab a { color:#444;}
.rightCast .tab .select { font-weight:bold; background:#fff; border-right:1px solid #d3d3d3; border-left:1px solid #d3d3d3;}
.rightCast .tab .frist { border-left:0 none;}
.rightCast .bd_1 { background-color:#fff; padding:12px 8px;}
.rightCast .bd_1 li { float:left; _display:inline; margin-left:12px; width:80px; background-position:-419px -185px; padding-left:18px; height:22px; line-height:22px; overflow:hidden;}
.rightCast .services .hd { height:20px; padding:10px 0 0 8px; font:bold 12px/14px Arial; color:#444; background-position:0 -69px;}
.rightCast .services .bd { background-color:#fff; padding:10px 8px;}
.rightCast .services .bd li { padding:3px 0 3px 25px; position:relative; _height:1%;}
.rightCast .services .bd s { position:absolute; top:3px; left:3px; display:block;}
.rightCast .services .bd .tel { width:16px; height:14px; background-position:-25px -176px;}
.rightCast .services .bd .qq { width:17px; height:17px; background-position:-41px -176px;}
.rightCast .services .bd .qqGroup { width:17px; height:17px; background-position:-58px -176px;}




* html,* html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}
.video_pop { width:318px; position:fixed; _position:absolute; _top:expression( (document.documentElement && document.documentElement.clientHeight || document.body.clientHeight) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) - this.offsetHeight + 'px');}
.video_pop .bd { width:308px; height:212px; padding:5px; background-color:#ccc; display:none; background:url("mediaplayer/bg2011video.gif"/*tpa=http://www.yourclub.cn/templets/default/style/mediaplayer/bg2011video.gif*/) no-repeat 0 -18px;}
.video_pop_zoom { position:absolute; right:0; top:-18px; display:block; width:32px; height:18px; background:url("mediaplayer/bg2011video.gif"/*tpa=http://www.yourclub.cn/templets/default/style/mediaplayer/bg2011video.gif*/) no-repeat -286px 0; text-align:center; color:#fff000;}
.video_pop_zoom:hover { color:#fff000; text-decoration:none;}

/* 当前位置 */
.position { position:relative; _height:1%; margin:8px 0;}
.position .s { display:block; position:absolute; left:0; top:0; width:15px; height:16px; overflow:hidden; background-position:-117px -176px;}
.position .bd { position:relative; margin-left:20px;}

/* 分页 */
.topPnav { position:absolute; top:0; right:0;}
.pageNavigation { text-align:center; margin:15px 0 10px;}
.pageNavigation a,.video2011 .pageNavigation .pageNum { margin-right:4px; vertical-align:middle; display:inline-block; *display:inline; *zoom:1; height:19px; line-height:19px; border:1px solid #ccc; padding:0px 8px;}
.pageNavigation .pageNum { color:#999;}
.pageNavigation .prev a {text-align:left; padding-left:20px; background-position:-247px -165px; font-family:simsun; background-color:#fff;}
.pageNavigation .next a {text-align:right; padding-right:20px; background-position:-204px -146px; font-family:simsun; background-color:#fff;}
.pageNavigation a { color:#1166bb;}
.pageNavigation a:hover { color:#f30; border:1px solid #e60; text-decoration:none;}
.pageNavigation .prev .nopage { background-position:-247px -203px; color:#999; cursor:default;}
.pageNavigation .next .nopage { background-position:-284px -184px; color:#999; cursor:default;}
.pageNavigation .select { border:1px solid #fd6d01; background-color:#ffede1; color:#f50; font-weight:bold; cursor:default;}
.pageNavigation .nopage:hover { border:1px solid #ccc; color:#999;}
.pageNavigation .c_page { font-weight:bold; color:#f50;}

/* 链接颜色 */
.link_green { color:#2b9a00;}
.link_red { color:#c00;}
.link_orange { color:#f50;}

/* 选项卡1 */
.tab_module { margin-top:10px; border:1px solid #e2e2e2;}
.tab_module .hd { height:26px; background-position:0 -265px; background-repeat:repeat-x; *zoom:1; padding:1px;}
.tab_module .hd li { position:relative; z-index:9999; height:18px; padding:0 10px; float:left; line-height:14px; padding-top:7px; display:inline; margin-right:4px;}
.tab_module .hd li a { color:#555;}
.tab_module .hd .select { background-position:0 -240px; color:#fff; font-weight:bold;}
.tab_module .hd .select .s1 { display:block; position:absolute; top:0; right:0; width:2px; height:25px; overflow:hidden; background-position:-112px -137px;}
.tab_module .hd .select .s2 { display:block; position:absolute; bottom:-4px; left:50%; width:7px; height:4px; overflow:hidden; background-position:-114px -137px; margin-left:-2px;}
.tab_module .hd .select a { color:#fff; font-weight:bold;}
.tab_module .hd .more {}

.hide { display:none;}
.blank10 { height:10px; overflow:hidden;}

/* 按钮 */
.sys_menu_small { display:inline-block; *display:inline; *zoom:1; padding:0 10px; height:18px; padding-top:7px; line-height:14px; background:url("Images/page/zhaobiao_sp.png"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/zhaobiao_sp.png*/) no-repeat 0 -190px; color:#fff; text-align:center; position:relative;}
.sys_menu_small .s { display:block; position:absolute; right:0; top:0; background:url("Images/page/zhaobiao_sp.png"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/zhaobiao_sp.png*/) no-repeat -307px -72px; width:3px; height:25px; overflow:hidden;}
.sys_menu_message { padding-left:28px;}
.sys_menu_message_i { position:absolute; display:block; width:14px; height:10px; top:8px; left:8px; background:url("Images/page/zhaobiao_sp.png"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/zhaobiao_sp.png*/) no-repeat -242px -410px; overflow:hidden;}
.sys_menu_qian_i { position:absolute; display:block; width:16px; height:16px; top:5px; left:8px; background:url("Images/page/zhaobiao_sp.png"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/zhaobiao_sp.png*/) no-repeat -241px -421px; overflow:hidden;}

/* 系统提示 */
.tips_sys { position:relative; *zoom:1; padding:50px;}
.tips_sys .s { display:block; position:absolute; background:url("Images/page/zhaobiao_sp.png"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/zhaobiao_sp.png*/) no-repeat 0 0; top:55px; left:170px;}
.tips_sys .inner { margin-left:200px; position:relative;}
.tips_sys .inner .h3 { font:24px/30px "黑体"; color:#212121;}
.tips_sys .inner .info { color:#555; margin-top:6px;}
.tips_sys .inner .info strong { color:#333;}
.tips_sys .inner .red_url { font:bold 14px/24px Arial; color:#404040; margin-top:12px;}
.tips_sys .inner .return_time { margin-top:10px; color:#333;}
.tips_sys .inner .return_time .red { color:#f30}
.tips_sys .inner .user { color:#333; font-size:14px; margin:8px 0 0;}
.tips_sys .inner .yellow { font-size:18px; color:#f50;}
.tips_sys_lv { border:1px solid #9adf8f; background-color:#d5ffce;}
.tips_sys .success_toubiao { height:62px; width:62px; background-position:0 -916px;}
.tips_sys_ye { border:1px solid #e6db55; background-color:#fffbcc;}
.tips_sys .fail_permissions { height:69px; width:74px; background-position:-63px -916px; top:45px; left:160px;}
.message_sys { position:relative; *zoom:1; padding:6px 8px 5px 30px; font-size:12px;}
.tips_sys_ye { border:1px solid #f9e69a; background-color:#fef6d9;}
.message_sys .s { display:block; position:absolute; top:6px; left:6px; overflow:hidden; background:url("Images/page/zhaobiao_sp.png"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/zhaobiao_sp.png*/) no-repeat 0 0;}
.message_sys .jintanhao { width:18px; height:16px; background-position:-258px -484px;}

.zzyHTML { border:1px solid #e6e6e6; background-color:#f6f6f6; padding:5px; margin-top:10px; text-align:center;}
.adv { font-size:0;}

.module_02 .hd,.module_02 .hd li { background:url("Images/page/anli_sp.png"/*tpa=http://www.yourclub.cn/templets/default/style/Images/page/anli_sp.png*/) repeat-x 0 0;}
.module_02 { border:1px solid #ddd; position:relative; *height:1%;}
.module_02 .hd { line-height:23px; height:23px; background-position:0 -207px;}
.module_02 .hd li { position:relative; float:left; padding:0 7px; background-position:0 -183px; height:23px; background-repeat:repeat-x; border-right:1px solid #ddd;}
.module_02 .hd li s { display:block; position:absolute; top:-8px; right:0px; width:16px; height:16px; font-size:0; background-position:-132px -304px;}
.module_02 .hd li a { color:#666; font-weight:bold;}
.module_02 .hd .select { background:#fafafa none;}
.module_02 .hd .select a { color:#c1272d;}
.module_02 .hd .tit { padding:0 0 0 8px; font-weight:bold; color:#c1272d;}
.module_02 .redText .select a { color:#c1272d;}
.module_02 .more { position:absolute; top:0px; right:6px; font-family:simsun;}
.module_02 .bd { background-color:#fafafa;}

.yahei { font-family:"Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文细黑","STHeiti";}

#myForm .focusBorder { border:1px solid #ffcc66; background-color:#ffefce;  color:#222;}

.pop_login { border:1px solid #bc0500; width:402px;}
.pop_login .bor_inner { border:1px solid #9a0400; width:400px; height:260px;}
.pop_login .hd { padding:3px 8px;}
.pop_login .hd .tit { display:block; float:left; font:bold 14px/24px simsun;}
.pop_login .hd .close { float:right; width:18px; height:18px; overflow:hidden; font:0pt/1000px Arial; background-position:-25px -194px; margin-top:5px;}
.pop_login .bd { padding:30px 15px 0;}
.pop_login .bd li { padding:6px 0; overflow:hidden; *zoom:1;}
.pop_login .bd .sp_a { display:block; float:left; width:92px; font:14px/30px simsun; text-align:right; }
.pop_login .bd .sp_b { display:block; float:left; width:230px; color:#999;}
.pop_login .bd .sp_b .ipt { padding:4px; width:230px; height:16px; line-height:16px; overflow:hidden; border:1px solid #ddd; vertical-align:middle;}
.pop_login .bd .sp_b .btn { margin-right:20px; width:83px; height:38px; overflow:hidden; vertical-align:middle; background-position:-44px -194px; border:0 none; font:0pt/1000px Arial; cursor:pointer;}
.pop_login .bd .qq_login { margin-top:5px; display:block; width:105px; height:16px; overflow:hidden; vertical-align:middle; background-position:-128px -194px; font:0pt/1000px Arial;}
